### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# 团队统一规则
*.class

# 学期配置文件需要跨平台共享，排除忽略（须先解除目录忽略）
!TA_Recruitment_software/ta_jobs/data/
!TA_Recruitment_software/ta_jobs/data/position_semesters.csv
!TA_Recruitment_software/ta_jobs/data/current_semester.txt
.idea/vcs.xml
# IntelliJ IDEA 本地配置文件
.idea/
*.iml
*.iws
*.ipr

# Ignore local AI credentials
#TA_Recruitment_software/data/ai-config.properties

Software-Engineering_Group70\Final_Short_Report_Group70.md
